Checks: "
        bugprone-*,
        cppcoreguidelines-*,
        google-*,
        performance-*,
        readability-identifier-naming,
        -performance-avoid-endl
"
WarningsAsErrors: ''
HeaderFilterRegex: "^${PROJECT_SOURCE_DIR}/.*"
SystemHeaders: false
FormatStyle: 'file'
